.git
.gitignore
.idea
.vscode

node_modules
**/node_modules

dist
build
coverage
**/dist
**/build
**/coverage

.turbo
**/.turbo

.env
**/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

tmp
tmp.md
.junie
